## NAMESPACE         David Xiao         2011-1-01

import(methods)
import(DBI)
import(RCurl)

## Classes

exportClasses(
    BQObject,
    BQDriver,
    BQConnection,
    BQResult
)

## Methods/Generics

exportMethods(

    # General to all Objects
    dbGetInfo,
    summary,

    # Driver
    dbListConnections,
    #dbUnloadDriver, #optional
    #drivername #invoked by dbDriver, instantiates corresponding driver object

    # Connection
    dbConnect,
    dbDisconnect,
    dbSendQuery,
    dbGetQuery,
    dbGetException,
    dbListResults,

    # Connection - convenience
    dbListTables,
    dbReadTable,
    dbWriteTable,
    dbExistsTable,
    dbRemoveTable,
    dbListFields,

    # Result
    fetch,
    dbClearResult,
    dbColumnInfo,
    #dbSetDataMappings, #optional
    #dbGetStatement #optional
    #dbGetRowCount #optional

    # Other (Implemented by DBI, should probably be overwritten)
    dbDataType,
    make.db.names,
    SQLKeywords,
    isSQLKeyword
)

export(
    BigQuery,

    # delete these after finished - these should be private
    generateBQId
)
