## NAMESPACE         David Xiao         2011-1-24

import(methods)
import(DBI)

## Classes

exportClasses(
    BQObject,
    BQDriver,
    BQConnection,
    BQResult
)

## Methods/Generics

exportMethods(

    # General to all Objects
    dbGetInfo,          ##DONE
    summary,            ##DONE

    # Driver
    dbListConnections,  ##DONE

    # Connection
    dbConnect,          ##DONE
    dbDisconnect,       ##DONE
    dbSendQuery,        ##DONE
    dbGetQuery,         ##DONE
    dbGetException,     ##DONE
    dbListResults,      ##DONE

    # Connection - convenience
    dbListTables,       ##CANT
    dbReadTable,        ##DONE
    dbWriteTable,       ##WONT
    dbExistsTable,      ##WONT
    dbRemoveTable,      ##WONT
    dbListFields,       ##DONE

    # Result
    fetch,              ##DONE
    dbClearResult,      ##DONE
    dbColumnInfo,       ##DONE
    dbGetStatement,     ##DONE

    # Other (Implemented by DBI, should probably be overwritten)
    dbDataType,
    make.db.names,
    SQLKeywords,
    isSQLKeyword
)

export(
    BigQuery,
    bqDescribeTable
)
